.errorText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.errorContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.noSoup {
  max-width: 100vw;
}
