.Landing {
  background-color: #00BCD4;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Landing > h1 {
  margin-top: 25vh;
  color: #A2E4EB;
  font-size: 2rem;
  margin-bottom: 2rem;
}
