.Menu {

}

.Menu .slider {
  /*left: 0;*/
  left: -320px;
  position: absolute;
  z-index: 1210;
  height: 100vh;
  min-width: 250px;
  width: 80%;
  max-width: 320px;
  background-color: white;
  transition: transform 0.3s;
}

.showMenu {
  background-color: pink;
  transform: translateX(320px);
}

.sliderContainer {
  position: relative;
  margin-right: 22px;
  margin-left: 22px;
  margin-top: 14px;

  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  right: 0;
}

.closeBtn > button {
  padding: 0 !important;
}

.menuTitle {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 14px;
  color: rgb(16, 133, 244);
}

.sliderContainer .section {
  border-top: 1px solid #d9d9d9;
  padding-top: 14px;
  padding-bottom: 14px;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 8px 0;
  text-decoration: none;
  color: rgb(119, 119, 119);
}

.menuLink:hover {
  color: rgb(16, 133, 244);
}

.menuLink p {
  margin: 0;
  margin-left: 30px;
}

.shadow {
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 1209;
  background-color: black;
  transition: opacity 0.3s;
  opacity: 0;
}

.showShadow {
  transform: translateX(100vw);
  opacity: 0.3;
}
